
<ion-content [fullscreen]="true">

  <h1>PelisApp</h1>

  <h3>Próximos estrenos</h3>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let pelicula of upcomingMovies">
      
      <ion-card>
        <img [src]="pelicula.backdrop_path | imagen">
        <h5>{{ pelicula.title }}</h5>
      </ion-card>

    </ion-slide>
  </ion-slides>

  <h3>Populares</h3>
  <ion-slides [options]="slideOpts">
    <ion-slide class="space-slider" *ngFor="let pelicula of popularMovies">
      
      <ion-card>
        <img class="poster" [src]="pelicula.poster_path | imagen">
      </ion-card>

    </ion-slide>
  </ion-slides>

  <h3>Mejor puntuación</h3>
  <ion-slides [options]="slideOpts">
    <ion-slide class="space-slider" *ngFor="let pelicula of topRatedMovies">
      
      <ion-card>
        <img class="poster" [src]="pelicula.poster_path | imagen">
      </ion-card>

    </ion-slide>
  </ion-slides>
</ion-content>
