
<ion-content>

  <h5 class="sub-title"><b>Próximos estrenos</b></h5>
  <ion-slides [options]="slideOptsEstrenos">
    <ion-slide *ngFor="let pelicula of upcomingMovies">
      
      <ion-card (click)="verDetalle(pelicula.id)">
        <img *ngIf="!pelicula.backdrop_path" src="/assets/no-image-banner.jpg">
        <img *ngIf="pelicula.backdrop_path" [src]="'https://image.tmdb.org/t/p/w500/' + pelicula.backdrop_path">
        <h5><b>{{ pelicula.title }}</b></h5>
      </ion-card>

    </ion-slide>
  </ion-slides>

  <h5 class="sub-title"><b>Populares</b></h5>
  <ion-slides [options]="slideOpts">
    <ion-slide class="poster" *ngFor="let pelicula of popularMovies">
      
      <ion-card (click)="verDetalle(pelicula.id)">
        <img *ngIf="!pelicula.poster_path" src="/assets/no-image-banner.jpg">
        <img *ngIf="pelicula.poster_path" [src]="'https://image.tmdb.org/t/p/w500/' + pelicula.poster_path">
      </ion-card>

    </ion-slide>
  </ion-slides>

  <h5 class="sub-title"><b>Mejor puntuación</b></h5>
  <ion-slides [options]="slideOpts">
    <ion-slide class="poster" *ngFor="let pelicula of topRatedMovies">
      
      <ion-card (click)="verDetalle(pelicula.id)">
        <img *ngIf="!pelicula.poster_path" src="/assets/no-image-banner.jpg">
        <img *ngIf="pelicula.poster_path" [src]="'https://image.tmdb.org/t/p/w500/' + pelicula.poster_path">

        <h5><b>{{ pelicula.vote_average }}</b></h5>
      </ion-card>

    </ion-slide>
  </ion-slides>
</ion-content>
